.aboutContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#about {
  font-family: "Sangira", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 12vh !important;
}

#intro {
  font-family: "Times", sans-serif;
  font-size: 2vw;
  color: rgb(75, 75, 79);
  text-align: center;
}

.profilePhoto,
.profileName,
.profileAbout,
.profileContact,
.profileContactInfo {
  display: flex;
  align-items: center; /* Added */
  text-align: center; /* Added */
  flex-direction: row;
  justify-content: space-evenly;
}

header {
  margin-top: 2vw; /* Added */
}

.profilePhoto {
  border-radius: 15%;
  margin-top: 1vw; /* Adjusted */
  display: flex;
  align-items: center;
}

.profileName {
  color: rgb(6, 6, 128);
  border-radius: 15%;
  margin-top: 2vw; /* Added */
  font-size: 1.5vw;
  text-align: center; /* Added */
}

.profileAbout {
  font-family: "Times", sans-serif;
  font-size: 1.25vw;
  color: rgb(75, 75, 79);
  margin-top: 1.5vw; /* Added */
}

.profileContact {
  font-size: 1.85vw;
  margin-top: 2vw; /* Added */
}

.profileContactInfo {
  margin-top: 0.5vw; /* Added */
}

#outro {
  font-size: 2vw;
  font-family: "Times", sans-serif;
  color: rgb(75, 75, 79);
  text-align: center; /* Added */
  margin-top: 2vw; /* Added */
}

.borderLine {
  margin: 2rem;
  width: 80%;
  color: black;
  border: 3px solid black;
}

@media only screen and (min-width: 600rem) {
  .main {
    width: 80%;
    margin: auto;
  }
}

/* Styles for screens larger than 768px (desktops) */

@media only screen and (min-width: 768rem) {
  .main {
    width: 60%;
  }
}

/* For desktops and laptops */
@media only screen and (min-width: 1224rem) {
  /* Styles */
}

/* For large screens */
@media only screen and (min-width: 1824rem) {
  /* Styles */
}

/* For tablets */
@media only screen and (min-width: 768rem) and (max-width: 1024rem) {
  /* Styles */
}

/* For mobile phones */
@media only screen and (max-width: 767rem) {
  /* Styles */
}
