#about {
  font-family: "Sangira", sans-serif;
  justify-content: center;
  position: relative;
  left: 135%;
  margin-top: 7%;
  font-size: 10vh !important;
  display: flex;
}

#intro {
  left: 139%;
  top: 8em;
  font-family: "Times", sans-serif;
  font-size: 4.5vh;
  color: rgb(75, 75, 79);
  text-align: left;
  position: relative;
  display: flex;
  margin: -42%;
}

#krisPhoto {
  border-radius: 15%;
}

#krisProfile {
  left: 141%;
  position: relative;
  margin-top: 150%;
}

#kris {
  color: rgb(6, 6, 128);
}

#aboutKris {
  left: 29em;
  top: 6.5em;
  font-family: "Times", sans-serif;
  font-size: 2.5vh;
  color: rgb(75, 75, 79);
  text-align: center;
  position: relative;
  display: flex;
  letter-spacing: 1.5%;
  word-spacing: 1%;
  word-wrap: normal;
  margin: -5em;
}

#krisContact {
  left: 19.5em;
  position: relative;
  top: 7.5em;
}

#contactInformationKris {
  left: 34em;
  position: relative;
  top: 12.75em;
}
#donaldPhoto {
  border-radius: 15%;
  left: 35em;
  position: relative;
  top: -12em;
  display: flex;
  z-index: 1;
}

#donald {
  color: rgb(6, 6, 128);
  border-radius: 15%;
  left: 19.5em;
  position: relative;
  top: -6.75em;
  display: flex;
  z-index: 1;
}

#aboutDonald {
  left: 30em;
  top: -3.5em;
  font-family: "Times", sans-serif;
  font-size: 2.5vh;
  color: rgb(75, 75, 79);
  text-align: center;
  position: relative;
  display: flex;
  letter-spacing: 1.5%;
  word-spacing: 1%;
  word-wrap: normal;
  margin: -5em;
}

#donaldContact {
  left: 19.5em;
  position: relative;
  top: 1em;
  display: flex;
  z-index: 1;
}

#contactInformationDonald {
  left: 38.5em;
  position: relative;
  top: 1.5em;
  display: flex;
  z-index: 1;
}

#tarrahPhoto {
  border-radius: 15%;
  left: 34.25em;
  position: relative;
  top: 60em;
  display: flex;
  z-index: 1;
}

#tarrah {
  color: rgb(6, 6, 128);
  border-radius: 15%;
  left: 19.5em;
  position: relative;
  top: 34.5em;
  display: flex;
  z-index: 1;
}

#aboutTarrah {
  left: 29em;
  top: 58.5em;
  font-family: "Times", sans-serif;
  font-size: 2.5vh;
  color: rgb(75, 75, 79);
  text-align: center;
  position: relative;
  display: flex;
  letter-spacing: 1.5%;
  word-spacing: 1%;
  word-wrap: normal;
  margin: -5em;
}

#tarrahContact {
  left: 19em;
  position: relative;
  top: 42.25em;
  display: flex;
  z-index: 1;
}

#contactInformationTarrah {
  left: 38em;
  position: relative;
  top: 73.75em;
  display: flex;
  z-index: 1;
}

#adrianPhoto {
  border-radius: 15%;
  left: 34.75em;
  position: relative;
  top: 68em;
  display: flex;
  z-index: 1;
}

#adrian {
  color: rgb(6, 6, 128);
  border-radius: 15%;
  left: 19.5em;
  position: relative;
  top: 39em;
  display: flex;
  z-index: 1;
}

#aboutAdrian {
  left: 29em;
  top: 65em;
  font-family: "Times", sans-serif;
  font-size: 2.5vh;
  color: rgb(75, 75, 79);
  text-align: center;
  position: relative;
  display: flex;
  letter-spacing: 1.5%;
  word-spacing: 1%;
  word-wrap: normal;
  margin: -5em;
}

#adrianContact {
  left: 19em;
  position: relative;
  top: 46.5em;
  display: flex;
  z-index: 1;
}

#contactInformationAdrian {
  left: 43em;
  position: relative;
  top: 81.25em;
  display: flex;
  z-index: 1;
}

#outro {
  font-size: 4.5vh;
  left: 17.5em;
  top: 48em;
  font-family: "Times", sans-serif;
  color: rgb(75, 75, 79);
  text-align: left;
  position: relative;
  display: flex;
  letter-spacing: 1.5%;
  word-spacing: 1%;
  word-wrap: normal;
  margin: -5em;
}
