.grid-container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Times" sans-serif;
}

.grid-container {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 140px 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.grid-item {
  max-width: 25%;
  height: auto;
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 25px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  grid-template-columns: row;
  width: 100%;
  display: inline-block;
  top: 22%;
  margin-left: 2%;
  justify-content: center;
  font-size: 2vh;
  margin: 4%;
  position: relative;
}

#resourceName {
  margin-top: 1%;
  left: 0%;
  font-size: 6vh;
  justify-content: space-around;
  text-align: center;
  display: flex;
}

#creditKarma {
  width: 100%;
  height: 15%;
  display: flex;
  border-radius: 10%;
  padding-bottom: 6%;
}
.caption {
  display: block;
}

#nerdWallet {
  width: 100%;
  height: 15%;
  display: flex;
  border-radius: 15%;
  padding-bottom: 4%;
}

#rachelCruze {
  width: 85%;
  height: 10%;
  display: flex;
  border-radius: 15%;
  padding-bottom: 4%;
  justify-items: center;
  margin-left: 7%;
}

#ramsey {
  width: 100%;
  height: 15%;
  display: flex;
  border-radius: 20%;
  padding-bottom: 4%;
}

#fidelity {
  width: 100%;
  height: 15%;
  display: flex;
  border-radius: 25%;
  padding-bottom: 4%;
}

#mgic {
  width: 103%;
  height: 15%;
  display: flex;
  border-radius: 25%;
  padding-bottom: 4%;
}

#invest {
  width: 80%;
  height: 15%;
  display: flex;
  border-radius: 18%;
  padding-bottom: 4%;
  margin-left: 10%;
}

#forbes {
  width: 60%;
  height: 10%;
  display: flex;
  border-radius: 15%;
  padding-bottom: 4%;
  margin-left: 19%;
}

#moneyCrashers {
  width: 100%;
  height: 15%;
  display: flex;
  border-radius: 4%;
  padding-bottom: 19%;
}
