#retCalc {
  font-family: "Sangira", sans-serif;
  font-style: bold;
  justify-content: center;
  position: relative;
  left: 0.25%;
  top: 0.25%;
  font-size: 6vw !important;
  z-index: 3;
  size: 3%;
}

#age {
  color: rgb(75, 75, 79);
  font-family: "Times", sans-serif;
  font-size: 2.5vw;
  display: flex;
  position: relative;
}

#target {
  color: rgb(6, 6, 128);
  font-family: "Times", sans-serif;
  font-size: 2em;
}

#auto {
  margin-top: 1.75%;
  left: 0.25%;
}

#formatter {
  color: rgb(19, 19, 20);
  font-family: "Times", sans-serif;
  top: -0.5em;
  font-size: 2vw;
  display: flex;
  position: relative;
}

label {
  font-family: "Times", sans-serif;
  background-color: white;
  font-size: 3vm;
  text-align: center;
  position: relative;
  bottom: -30%;
  color: white;
  -webkit-text-stroke: white;
  border-radius: 5%;
  background-color: rgba(19, 19, 19, 0.726);
  padding: 0.25%;
  border: 4px double whitesmoke;
  cursor: pointer;
  margin: 0.5%;
  transition: all 0.5s;
  justify-content: space-around;
  display: flex;
  left: 0em;
}

#advanced {
  color: rgb(6, 6, 128);
  font-family: "Times", sans-serif;
  top: 0;
  font-size: 3vw;
  display: flexbox;
  position: relative;
}

#button {
  position: relative;
  display: flex;
  margin: 0px;
  top: 35px;
}

.retirement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calc {
  display: flex;
  align-items: center;
  flex-direction: row;
}
