@font-face {
  font-family: "Sangira";
  src: url(./fonts/SANGIRA.OTF);
}

@font-face {
  font-family: "Times";
  src: url(./fonts/TIMESS_.TTF);
}

@font-face {
  font-family: "Ultra";
  src: url(./fonts/ULTRACONDENSEDSANSSERIF.TTF);
}

#mainBudget {
  font-family: Sangira, Sans-serif;
  left: 5vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: inline;
  overflow-x: hidden;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

@media only screen and (min-width: 600rem) {
  .container {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 768rem) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 1224rem) {
}

@media only screen and (min-width: 1824rem) {
}

@media only screen and (min-width: 768rem) and (max-width: 1024rem) {
}

@media only screen and (max-width: 767rem) {
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.container-fluid a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 10;
  font-family: Times;
}

.container-fluid a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 30px;
}

header img {
  width: 150px;
}

a img {
  height: 40px;
}

article {
  margin: 10px;
  padding: 10px;
  border-radius: 10 px;
  height: fit-content;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bi-house {
  justify-content: center;
  word-spacing: inherit;
  font-size: 1.25rem;
}

.retirement {
  text-align: center;
}

.retirement-calc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 1em 1em 1em 1em;
  margin: 1px;
}

button {
  padding: 0.5rem 1rem;
}

input {
  padding: 0em 0.5em;
}

#mainBudget {
  font-size: 6vw;
  left: 5vw;
  margin: 0;
  padding-bottom: 3.5rem;
  display: flex;
}
